.container{
    height: 500px;
    width : 500px;
    display: flex;
    flex-direction : column;
    align-items: center;
    margin : 20px auto;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);

}
h1{
    font-size: 4rem;
    color:black;
    margin-bottom: 20px;
}
.display{
    font-size : 3rem;
    color: green;
    margin: 20 px 0 ;
    padding: 20px;
    border-radius: 10px;
    background-color: beige;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}
.button-group{
    display:flex;
    gap: 10px;
    margin-top:40px;
}
.button{
    padding : 10px 20px;
    font-size : 20px;
    border:none;
    border-radius:40px;
    cursor:pointer;
    transition: background-color 0.3s ease;
}
.button-inc{
    background-color : lightgreen;
    border:none;
    color:white;
    height:120px;
    width:120px;
    font-size: 80px;
    border-radius: 10px;
    transition:background-color 0.5s ease-in-out,0.5 ease-in-out;
}
.button-dec{
    background-color: red;
    height:120px;
    width:120px;
    color:white;
    border-radius:10px;
    font-size:80px;
    border:none;
    transition:background-color 0.5 ease-in-out,0.5 ease-in-out;
    
}
.button-reset{
    background-color: skyblue;
    height:120px;
    width:150px;
    color:white;
    border-radius:10px;
    font-size:36px;
    border:none;
    transition:background-color 0.5 ease-in-out,0.5 ease-in-out;
}
.button-inc:hover{
    background-color: turquoise;
    opacity:0.7;

}
.button-dec:hover{
    background-color:orange;
    opacity: 0.7;
}
.button-reset:hover{
    background-color:yellowgreen ;
    opacity:0.7;
}